{% extends "base.html" %}
{% block title %}自動化測試{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #username,#env_type{border-radius: 22px;background-color: #ddd;}
        input[type="checkbox"]{zoom:150%;cursor:pointer;vertical-align:sub;}
        li{list-style: none;}
        label[for=PcChecked],label[for=AppChecked],label[for=DriverChecked] {
        font-size: 120%;
        display: inline-block;
        margin-bottom: .5rem;
        color: #420fde;}
        .PC_submit {
        font-family: monospace;
        color: #fd0e25;
        font-size: x-large; }
        }
    </style>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function check() {
            var check = $("input[name='test_Suite']:checked").length;//判斷PC登入 一定要勾選
            var driver_check = $('#Pc_driver').children(':checked').length;
            console.log(driver_check)
            if (check == 0){
                alert("你未勾選任何項目");
                return false;}
            else if (check > 20){
                console.log(check)
                alert("PC自動化案例,不建議和街口案例一起, 抱歉");
                $('#Pc_driver').children(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
                location.reload();
            } 
            else if ($('#username').val() == ''){
                alert('請輸入用戶名')
                location.reload();
            } 
            else {
                $.ajax({
                    url: "/autoTest",
                    type: 'POST',
                    headers: {Accept: "application/json; charset=utf-8"},
                    data: $('#form1').serialize(),
                    success: function (data) {
                        var result = data;
                        console.log(data)
                        if (data == '此環境沒有該用戶'){
                            alert('此環境沒有該用戶');
                            location.reload();
                        } 
                        else{
                            console.log('test');
                            $(window).attr("location", "/report")
                        }
                    }
                })
            }
            event.preventDefault();
            var source = new EventSource("/progress");
            source.onmessage = function (event) {
            $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
            $('.progress-bar-label').text(event.data + '%');}
        }
    </script>
    <script>
        $(document).ready(function () {
		    $("#env_type").change(function(){
                var opt=$("#env_type").val();
                if (opt=='fh968'){
                    alert('生產環境請小心使用');
                    $(".fh968_display").css('display','none');
                }
                else{
                    $('.fh968_display').css('display','block');
                }
            })
            //checkbox全選功能 , PC,APP, driver
            $('#PcChecked').change(function () {//PC接口全選
                $('#Pc_login').children(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
            });
            $('#AppChecked').change(function () {//APP接口全選
                $('#App_login').children(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
            });
            $('#DriverChecked').change(function () {//Pc自動化全選
                $('#Pc_driver').children(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
            });
            $("input[id^='test_App']").change(function () {// 讓 APP登入為必要勾選, 只要勾了 子項目,必勾登入
                $('#test_AppLogin').prop('checked', $(this).is(':checked') ? true : false);//子項目 有勾, 登入就會跟著跳
                var check = $("input[id='test_AppLogin']:checked").length; //判斷APP登入長度, 如果長度為0, 其他子項目 必為空
                if (check == 0) {//APP登入沒勾,其他 勾選 不會勾
                    $("input[id^='test_App']").prop('checked', $(this).is(':checked') ? true : false);
                }
            });
            $("input[id^='test_Pc']").change(function () {//PC 子項目勾選後, 登入 會跟著一起勾,
                $('#test_PcLogin').prop('checked', $(this).is(':checked') ? true : false);
                var check = $("input[id='test_PcLogin']:checked").length;//PC登入長度, 長度0 ,子項目必為空
                if (check == 0) {
                    $("input[id^='test_Pc']").prop('checked', $(this).is(':checked') ? true : false);
                }
            });
        });
    </script>
{% endblock %}


{% block main %}
    <h1>測試案例</h1>
    <form id='form1' method='POST'>
        <input type='text' name='username' id=username size=16 placeholder="請輸入用戶名">
        <label>環境: </label>
        <select name='env_type' id='env_type'>
            <option value="dev02">dev02</option>
            <option value="fh82dev02">fh82dev02</option>
            <option value="teny2020dev02">teny2020dev02</option>
            <option value="88hlqpdev02">88hlqpdev02</option>
            <option value="joy188" selected>joy188</option>
            <option value="joy188.teny2020">joy188.teny2020</option>
            <option value="joy188.195353">joy188.195353</option>
            <option value="joy188.88hlqp">joy188.88hlqp</option>
            <option value="joy188.fh888">joy188.fh888</option>
            <option value="fh968">fh968</option>

        </select>
        <br></br>
        <div class='PC'>
            <input type='checkbox' id='PcChecked'>
            <label for='PcChecked'>PC接口測試</label>
            <div id='Pc_login'>
                <input type="checkbox" name="test_Suite" id="test_PcLogin" value="test_PcLogin">登入測試
                <input type="checkbox" name="test_Suite" id="test_PcThirdHome" value="test_PcThirdHome">第三方頁面測試
                <input type="checkbox" name="test_Suite" id="test_PcFFHome" value="test_PcFFHome">4.0頁面測試
                <input type="checkbox" name="test_Suite" id="test_PcChart" value="test_PcChart">走勢圖測試
                <input type="checkbox" name="test_Suite" id="test_PcThirdBalance" value="test_PcThirdBalance">4.0/第三方餘額測試
                <input type="checkbox" name="test_Suite" id="test_PcTransferin" value="test_PcTransferin">第三方轉入測試
                <input type="checkbox" name="test_Suite" id="test_PcTransferout" value="test_PcTransferout">第三方轉出測試
                <input type="checkbox" name="test_Suite" id="test_PcredEnvelope" value="tesft_redEnvelope">紅包加幣
                <br>
                <div class='fh968_display'>
                    <label class='PC_submit'>彩種</label>
                    <select name='lottery_name' id='lottery_name'>
                        <option value='all'>全部</option>
                        {% for name in test %}
                        <option value= {{name}}>{{test[name][0]}}</option>
                        {% endfor %}
                    </select> 
                    <p>
                        <input type="checkbox" name="test_Suite" id='test_PcLotterySubmit' value="test_PCLotterySubmit">
                        <label for='test_PCLotterySubmit'>PC投注測試</label>
                    <label class="PC_submit">紅包投注: </label>
                    <select name='red_type' id='red_type'>
                        <option value="no">否</option>
                        <option value="yes">是</option>
                    </select>
                    <label class='PC_submit'>獎金玩法</label>
                    <select name='awardmode' id='awardmode'>
                        <option value='0'>預設</option>
                        <option value='1'>一般</option>
                        <option value='2'>高獎金</option>
                    </select>
                    <label class='PC_submit'>元角分</label>
                    <select name='moneymode' id='moneymode'>
                        <option value='1'>元</option>
                        <option value='2'>角</option>
                        <option value='0'>分</option>
                    </select>
                    <label class='PC_submit'>投注完撤銷</label>
                    <select name='submit_cancel' id='submit_cancel'>
                        <option value='0'>否</option>
                        <option value='1'>是</optiosn>
                    </select>
                    <br><input type="checkbox" name="test_Suite" id=test_PcPlan value="test_PcPlan">
                    <label for="test_PcPlan">追號</label>
                </div>
            </div>
        </div>   
        <br></br>
        <div class="fh968_display">
        <input type='checkbox' id='AppChecked'>
        <label for="AppChecked">APP接口測試</label>
            <div id='App_login'>
            <input type="checkbox" name="test_Suite" id="test_AppLogin" value="test_AppLogin">登入測試
            <input type="checkbox" name="test_Suite" id="test_AppSubmit" value="test_AppSubmit">投注測試
            <input type="checkbox" name="test_Suite" id="test_AppOpenLink" value="test_AppOpenLink">開戶/註冊測試
            <input type="checkbox" name="test_Suite" id="test_AppBalance" value="test_AppBalance">4.0/第三方餘額測試
            <input type="checkbox" name="test_Suite" id="test_ApptransferIn" value="test_ApptransferIn">第三方轉入測試
            <input type="checkbox" name="test_Suite" id="test_ApptransferOut" value="test_ApptransferOut">第三方轉出測試
            </div>
        </div>
        <br></br>
        <div class='DRIVER'>
        <input type='checkbox' id='DriverChecked'>
        <label for='DriverChecked'>PC自動化測試</label>
        <div id='Pc_driver'>
            <input type="checkbox" name="test_Suite" id="safepersonal" value="test_safepersonal">修改登入密碼測試
            <input type="checkbox" name="test_Suite" id="applycenter" value="test_applycenter">
            開戶注測/設置安全中心/銀行綁定 測試
            <div class='fh968_display'>    
            <input type="checkbox" name="test_Suite" id="mul_lottery" value="test_plan">
            <label for="mul_lottery">彩種追號案例</label></div>
        
        </div>
        </div>
        <input type='checkbox' id='AllChecked' style="display:none;">
        <p><input type="button" onclick="check()" value="执行"></p>
    </form>
    <h3>進度條顯示</h3>
    <div class="progress" style="width: 750px;height: 22px; margin: 10px;">
        <div class="progress-bar progress-bar-striped progresslabel-bar-animated" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="progress-bar-label">0%</span>
        </div>
    </div>
    <div id="content">

    </div>
{% endblock %}