<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <!-- 可供更改的部分 -->
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
    <script src="{{ url_for('static',filename='js/test.js') }}"></script>
    <script>remote_IP()</script>
{% endblock %}</head>
<body>
    <div id="header">
    <h1>{% block header %}{% endblock %}</h1>
    </div>
    <!-- 希望能固定出現在每個網頁的 nav -->
    <nav>
    </nav>
  
  <main>
    <!-- 可供更改的部分 -->
    {% block main %}{% endblock %}
  </main>
  
  <!-- 希望能固定出現在每個網頁的 footer -->
  <footer>
  </footer>
  
  </body>
  </html> 