
    {% extends "base.html" %}
    {% block title %}福利中心{% endblock %}
    {%block head %}
    {{ super() }}
    <style type="text/css">
        li{list-style: none;}
        #day_username,#month_username{border-radius: 22px;}
    </style>
    {% endblock %}


    {% block script %}
    <script>
        $(document).ready(function(){
            var op= document.getElementById('benefit');
            var opt = op.getElementsByTagName('option');        
            opt[0].selected = true //設置預設 ,日工資
            
            var last_month = new Date().getMonth()//上個月 分紅用
            var today_month =  new Date().getMonth()+1//當月,日公資
            var today_day =  new Date().getDate()-1// -1 用意 ,統計日期 最新 為昨日
            //var ben_today = document.getElementById('day_day').getElementsByTagName('option')[today_day].selected= true//日工資 日期預設
        
            $("#benefit").change(function(){
            var testval= $("#benefit").val();
            console.log(testval)
            $("#"+testval).show().siblings().hide();
            $("#"+testval).find("select").removeAttr("disabled");
            $("#"+testval).find("input").removeAttr("disabled");
            $("#"+testval).siblings().find("select").attr("disabled",true)
            $("#"+testval).siblings().find("input").attr("disabled",true)
            });
            for (i=1;i<=12;i++){//設置月份
                addOption(day_month,i,i)
                addOption(month_month,i,i)
            }
            for (i=1;i<=31;i++){
                addOption(day_day,i,i)//設置日期
            }
            $('#day_month option[value='+today_month+']').attr('selected','selected')
            $('#month_month option[value='+last_month+']').attr('selected','selected')
            $('#day_day option[value='+today_day+']').attr('selected','selected')
        })
    </script>
    <script type="text/javascript">
        function check(){
            var testval = $('#benefit').val();
            if (testval=='month'){
                var username = $("input[id='month_username']")
                var month = $("select[id='month_month']")
                var day = $("select[id='month_day']")
            }
            else if (testval=='day'){
                var username = $("input[id='day_username']")
                var month = $("select[id='day_month']")
                var day = $("select[id='day_day']")
            }
            if(username.val()==""){
                alert("用戶名為空");
            }else if(month.val()==""){
                alert("月份為空");    
            }else if(day.val()==""){
                alert("日期為空");    
            }else{
                button_disabled('#submit')
                event.preventDefault();
                var source = new EventSource("/progress");
                var msg = 'start'
                source.onmessage = function (event) {
                $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
                $('.progress-bar-label').text(event.data + '%');}
                $.ajax({url:"/benefit",
                type:'POST', 
                data: form_trim("#form1"),//form表單裡的數據,
                //dataType:"json",
                success:function(data){
                    button_RemoveDisabeld('#submit')
                    source.close();
                    if (data=="沒有該用戶"){
                        alert('沒有該用戶');
                        return false;
                    }
                    else{
                        $(window).attr("location","/benefit_"+testval)
                        console.log(data);
                    //alert(data);
                    }
                    //return false;
                },
                error: function(data){
                    alert('有錯誤');
                    button_RemoveDisabeld('#submit');
                }
                })
                
            }
        }        
    </script>
    <script>
        window.onload=function(){//頁面整理預設  選項為工資
        var op= document.getElementById('benefit');
        var opt = op.getElementsByTagName('option');        
        opt[0].selected = true //設置預設 ,日工資
        
        var today_month =  new Date().getMonth()+1//當月
        var today_day =  new Date().getDate()-1// -1 用意 ,統計日期 最新 為昨日
        var select_montth = $('#day_month option[value='+today_month+']').attr('selected','selected')
        var select_day = $('#day_day option[value='+today_day+']').attr('selected','selected')
        //var ben_today = document.getElementById('day_day').getElementsByTagName('option')[today_day].selected= true//日工資 日期預設
        }
    </script>
{% endblock %}
{% block header %}福利中心{% endblock %}
{% block main %}
<form id="form1" method="POST">
    <li>
        <label>福利中心選項: </label>
        <select name='benefit_type' id='benefit'>
            <option value="day" selected>日工資</option>
            <option value="month">分紅</option>
        </select>
        <label>環境: </label>
        <select  id='day_env' name='env'>
            <option value='dev02'>dev02</option>
            <option value='joy188' selected>joy188</option>
            <option value='phl58'>phl58</option>
        </select>
    </li> 
    <div>
        <div id='day'>
            <p>請輸入用戶名<input type="text" id="day_username" name="username"
            size="15" ></p>
            <p style = "font-size: 10px; color:red">請選擇統計日期</p>
            <li>
                <label>月份</label>
                <select name='month' id='day_month'>
                </select>
                <label>日期</label>
                <select name='day' id='day_day'>
                </select>
            </li>
        </div>
        <div id='month' style="display: none;"> 
            <p>請輸入用戶名<input type="text" id="month_username" name="username"
            size="15" /></p>
            <li>
                <label>月份</label>
                <select name='month' id='month_month'>
                </select>
                <label>統計範圍</label>
                <select name='day' id='month_day'>
                    <option value='0'>上半月</option>
                    <option value='1'>下半月</option>
                </select>
            </li>
        </div>
    </div>
    <input type="button" onclick="check()" id="submit" value="確認">
</form>
<h3>進度條顯示</h3>
<div class="progress" style="width: 750px;height: 22px; margin: 10px;">
    <div class="progress-bar progress-bar-striped progresslabel-bar-animated" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="progress-bar-label">0%</span>
    </div>
</div>
{% endblock %}


