{% extends "base.html" %}
{% block title %}GAMEBOX測試{% endblock %}
{%block head %}
{{ super() }}
<style type="text/css">
    #username,#game_type,#env_type{border-radius: 22px;}
    li{list-style: none;}
    p{margin-top: 1%;}
    span{color: red;}
</style>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('#submit').click(function() {
                if ($('#username').val()==""){
                    alert('請輸入用戶名')
                    return false;
                }
                //$('#submit').attr('disabled','true');
                $('#submit').css({'background':'gray'})
                });
            $('#username').val('')
            $('.username').prop('checked',true);
            $('.admin').prop('checked',false);
            $('#func_name option[value="signUp"]').attr('selected','selected');
            $(".username").change(function () {//
                $('.admin:checkbox').prop('checked', $(this).is(':checked') ? false : true);  
            })
            $(".admin").change(function () {//
                $('.username:checkbox').prop('checked', $(this).is(':checked') ? false : true);  
            })
                    $.ajax({
                        url:"/gameBox_id",
                        type:"POST",
                        //dataType: "json",
                        headers:{Accept:"application/json; charset=utf-8"},
                        data: form_trim("#form1"),
                        success:function(data){
                            console.log(data)
                            $('#func_name').after("<li class='png_game'><label >png_game </label>")
                            $('.png_game').append("<select id='game_detail_png' name='gameid'></select>")
                            $.each( data['png_game'], function( key, value ) 
                                {   
                                    $('#game_detail_png').append("<option value='"+key+"'>"+value+"</option>")
                                })
                            $('.png_game').append("</li>")

                            $('.png_game').after("<li class='pp_game'><label >pp_game </label>")
                            $('.pp_game').append("<select id='game_detail_pp' name='gameid'></select>")
                            $.each( data['pp_game'], function( key, value ) 
                                {   
                                    $('#game_detail_pp').append("<option value='"+key+"'>"+value+"</option>")
                                })
                            $('.pp_game').append("</li>")
                            if ($('#game_type').val()== '19'){
                                $('#game_detail_pp').removeAttr('name')
                                $('.png_game').css('display','block');
                                $('.pp_game').css('display','none');
                            }
                            else if  ($('#game_type').val()== '18'){
                                $('#game_detail_png').removeAttr('name')
                                $('.pp_game').css('display','block');
                                $('.png_game').css('display','none');
                            }
                            else{
                                $('.pp_game').css('display','none');
                                $('.png_game').css('display','none');
                            }
                        }   
                    })
            $('#game_type').change(function(){
                if ($('#game_type').val()== '18'){
                    $('#game_detail_png').removeAttr('name')
                    $('#game_detail_pp').attr('name','gameid')
                    $('.pp_game').css('display','block');
                    $('.png_game').css('display','none');
                }
                else if ($('#game_type').val()== '19'){
                    $('#game_detail_pp').removeAttr('name')
                    $('#game_detail_png').attr('name','gameid')
                    $('.png_game').css('display','block');
                    $('.pp_game').css('display','none');
                }
                else{
                    $('.pp_game').css('display','none');
                    $('.png_game').css('display','none');
                }
            })
        })
    </script>

{% endblock %}
{% block header %}GAMEBOX測試{% endblock %}
{% block main %}
    <form id='form1' method='POST' action='gameBox'>
        <label>環境: </label>
        <select name='env_type' id='env_type'>
            <option value="0">測試</option>
            <option value="1">灰度</option>
        </select>
        <label>類型: </label>
        <select name='game_type' id='game_type'>
            {% for name in client_type %}
                {% if name == 7 %}
                    <option value= {{name}}>{{'bg類型'}}</option>
                {% else %}
                    <option value= {{name}}>{{client_type[name]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        請輸入用戶名<input type="text" id="username" name="username"
            size="20">
        </br>
        <input type='checkbox'  class='admin' name='check_type' value=0 >管理端</label>
        <select name='admin_name' id='admin_name'>
            {% for name in admin_items %}
            <option value= {{admin_items[name]}}>{{name}}</option>
            {% endfor %}
        </select>
        <input type='checkbox' class='username' name='check_type' value=1>客戶端</label>
        <select name='func_name' id='func_name'>
            <option value='user_all'>全部</option>
            {% for name in user_items %}
            <option value= {{user_items[name]}}>{{name}}</option>
            {% endfor %}
        </select>     
        <p><input type="submit" id=submit value="查詢" ></p>
    </form>
{% endblock %}