{% extends "base.html" %}
{% block title %}自動化測試{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        input[type="checkbox"] {
            zoom: 150%;
            cursor: pointer;
            vertical-align: sub;
        }

        li {
            list-style: none;
        }

        #FF4-cases > label:nth-child(7), #FF4-cases label:nth-child(10), #FF4-cases > label:nth-child(13) {
            font-size: 120%;
            display: inline-block;
            margin-bottom: .5rem;
            color: #420fde;
        }

        .PC_submit {
            font-family: monospace;
            color: #fd0e25;
            font-size: x-large;
        }

        main {
            padding-top: 20px;
            padding-left: 20px;
        }

        .sub_cases {
            box-sizing: content-box;
            border-radius: 20px;
            width: 1400px;
            padding: 10px;
            border: 3px dotted black;
        }

        table {
            text-align: center;
            border: 3px solid black;
            font-family: Microsoft JhengHei, serif;
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function startCal() {
            const form = new FormData(document.getElementById('game_data'))
            $.ajax({
                url: "{{ url_for('get_prize_cal_result') }}",
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function (resp) {
                    console.log(resp.content)
                    const tbody = document.getElementById("tbody")
                    $("#tbody tr").remove()
                    resp.content.forEach(function   (item, index) {
                            const row = tbody.insertRow(tbody.rows.length);
                            let cell = row.insertCell(0);
                            cell.innerHTML = index + 1;
                            for (let i = 0; i < item.length; i++) {
                                cell = row.insertCell(i + 1);
                                cell.innerHTML = item[i];
                                if (i === item.length - 1) {
                                    if (parseFloat(item[i]) > 0)
                                        cell.style = "color: green";
                                    else
                                        cell.style = "color: red"
                                }
                            }
                        }
                    )
                },
                error: function (e) {
                    console.log(e);
                    alert(data.msg);
                }
            })
        }

        $(document).ready(function () {
            $('#method').change(function () {
                const allPrize = document.getElementById('allPrize');
                const bonusPrize = document.getElementById('bonus_prize');
                const bonus = document.getElementById('bonus');
                if (this.value === 'g1')
                    allPrize.value = 5.68;
                else if (this.value === 'default')
                    allPrize.value = "";
                if (this.value && bonus.value)
                    bonusPrize.value = Math.floor(allPrize.value * bonus.value * 100) / 10000;
            })

            $('#bonus').change(function () {
                const allPrize = document.getElementById('allPrize');
                const bonusPrize = document.getElementById('bonus_prize');
                const bonus = document.getElementById('bonus');
                if (this.value && bonus.value)
                    bonusPrize.value = Math.floor(allPrize.value * bonus.value * 100) / 10000;
            })
        })
    </script>
{% endblock %}

{% block main %}
    <h1>全餐獎金試算</h1>
    <form id="game_data" method='POST' style="display: block">
        <label for="lottery">彩種: </label>
        <select name='lottery' id='lottery'>
            <option value="AHK3">安徽快三</option>
            <option value="JSK3">江蘇快三</option>
        </select>
        <br>
        <label for="method">全投玩法: </label>
        <select name='method' id='method'>
            <option value="default">請選擇</option>
            <option value="g1">猜一個號</option>
        </select>
        <label for="bonus">返點(%)</label>
        <input type="text" name="bonus" id="bonus">
        <label for="allPrize">理論獎金</label>
        <input type="text" name="allPrize" id="allPrize" value="">
        <label for="bonus_prize">返點獎金</label>
        <input type="text" name="bonus_prize" id="bonus_prize" value="">
        <br>
        <button type="button" onclick="startCal()">計算</button>
    </form>
    <table cellpadding="10" border="1" id="resultTable">
        <thead>
        <tr colspan="8">計算結果</tr>
        <tr>
            <td>編號</td>
            <td>開獎號</td>
            <td>中獎注數</td>
            <td>獎金</td>
            <td>返點獎金</td>
            <td>累計總獎金</td>
            <td>累計投注金額</td>
            <td>公司盈利</td>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>

        <tr id="test"></tr>
    </table>
{% endblock %}