<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>TEST</h1>
    <li>
        <td><input type ="button" value="沙巴體育比分" onclick=location.href='/sb'></td>
        <td><input type ="button" value="沙巴體育api" onclick=location.href='/sbApi'></td>
        <td><input type ="button" value="企鵝網體育比分" onclick=location.href='/sport'></td>
        <td><input type ="button" value="企鵝體育api" onclick=location.href='/sportApi'></td>
    </li>
    <li>
        <td><input type ="button" value="福利中心" onclick=location.href='/benefit'></td>
    </li>
    <li>
        <label><input type ="button" value="自動化測試" onclick=location.href='/autoTest'></label> 
    </li>
    <li>
        <label><input type ="button" value="APP戰報顯示" onclick=location.href='/report_APP'></label> 
    </li>
    <li>
        <td><input type ="button" value="各域名列表" onclick=location.href='/domain_list'></td>
    </li>
    <li>
        <td><input type ="button" value="股票查詢" onclick=location.href='/stock_search'></td>
    </li>
    <li>
        <td><input type ="button" value="驗證玩法" onclick=location.href='/game_result'></td>
    </li>
    <li>
        <td><input type ="button" value="驗證第三方有校用戶" onclick=location.href='/user_active'></td>
    </li>
</body>
</html> 