
{% extends "base.html" %}
{% block title %}單挑{% endblock %}
{%block head %}
{{ super() }}
<style type="text/css">
#token,#id,#user,#domain{border-radius: 22px;}
p{margin-top: 1%;}
#form1 > table > tbody{
    text-align: center;
    }
.alert{color: #ad3fbf}
.alert:hover{text-decoration: underline;
    font-weight:bold}
.switch_demo-inner:before {content: "範圍統計";padding-left: 10px;background-color: rgb(249 193 26);color: #FFFFFF;}
.switch_demo-inner:after {content: "單號查詢";padding-right: 10px;background-color: rgb(234 123 253);color: rgb(255 255 255);text-align: right;}
</style>
{% endblock %}  
{% block script %}
<script>
    $(document).ready(function(){
        check_type = 'ave'
    
        $('.normal_type').css('display','none')
        $('#switch_demo').change(function(){
            $('#game_detail').empty();//總計算 清空

            
            if ($('#switch_demo').prop('checked')== false){// 切道一般 單號查詢
                $('.dataTables_wrapper.no-footer').css('display','none')//隱藏
                check_type = 'normal' 
                $('.normal_type').css('display','block')
                $('#submit').attr('onclick',"check()")
            }
            else{ //切道 統計
                $('.dataTables_wrapper.no-footer').removeAttr('style')
                check_type = 'ave'
                $('.normal_type').css('display','none')
                $('#submit').attr('onclick',"check2()")
            }
        })
        
        var last_month = new Date().getMonth()//上個月 分紅用
            var today_month =  new Date().getMonth()+1//當前月份
            var today_day =  new Date().getDate()// -1 用意 ,統計日期 最新 為昨日
            var cur_year = new Date().getFullYear()//今年
            //var ben_today = document.getElementById('day_day').getElementsByTagName('option')[today_day].selected= true//日工資 日期預設
            for (i=today_month; i>=1;i--){//設置月份
                addOption(day_month,i,i)
                //addOption(month_month,i,i)
            }
            for (i=1;i<=today_day;i++){// 日期可查 今天
                addOption(day_day,i,i)//設置日期
            } 
            addOption(day_year,cur_year,cur_year)//設置年分
            //addOption(month_year,cur_year,cur_year)//設置年分
            $('#day_month option[value='+today_month+']').attr('selected','selected')
            //$('#month_month option[value='+today_month+']').attr('selected','selected')
            $('#day_day option[value='+today_day+']').attr('selected','selected')
            $('#day_year option[value='+cur_year+']').attr('selected','selected')
            //$('#month_year option[value='+cur_year+']').attr('selected','selected')

            $('#day_month').change(function(){
                if ($('#day_month').val()==today_month){//
                    $('#day_day').empty()
                    for (i=1;i<=today_day;i++){
                        addOption(day_day,i,i)//設置日期
                    } 
                }
                else{
                    $('#day_day').empty()
                    for (i=1;i<=31;i++){
                        addOption(day_day,i,i)//設置日期
                    } 
                } 
            })
    })
</script>
<script type="text/javascript">
    function check(){ //一般單號查詢單挑
        $("#msg").remove();
        $('#user_detail').empty();//總計算 清空
        if ($('.dataframe').length>0){
                $('.dataTables_wrapper.no-footer').remove();//已經有了先清空
        }
        if($("#order_code").val() ==""){//判斷用戶名為空
            alert("請輸入單號");
            //location.reload()
        }
        else {
            button_disabled('.submit')
        $.ajax({
            url:"/Single",
            type:"POST",
            //dataType: "json",
            headers:{
                    Accept:"application/json; charset=utf-8"
                },
            data: form_trim("#form1"),
            success:function(data){
                console.log(data)
                game_detail = data;
                console.log(typeof(data))
                if (data=='無該單號'){
                    button_RemoveDisabeld('.submit') 
                    $('#user_detail').append("<span style ='color: #9C27B0 '>"+'無該單號' )
                        return false
                }
                else if (data=='該單沒中獎, 不會進單挑'){
                    $('#user_detail').append("<span style ='color: #9C27B0 '>"+'該單沒中獎, 不會進單挑' )
                        button_RemoveDisabeld('.submit')
                }
                else if (data=='該單未開獎, 不會進單挑'){
                    $('#user_detail').append("<span style ='color: #9C27B0 '>"+'該單未開獎, 不會進單挑' )
                        button_RemoveDisabeld('.submit') 
                    
                }
                else if (data=='該單撤銷, 不會進單挑'){
                    $('#user_detail').append("<span style ='color: #9C27B0 '>"+'該單撤銷, 不會進單挑' )
                        button_RemoveDisabeld('.submit') 
                    
                }
                else if (data=='無該用戶'){
                    alert('無該用戶')
                    button_RemoveDisabeld('.submit')
                    
                }
                else{
                    $('#user_detail').append("<span style='color:black; font-size: 20Px'>"+" 進入單挑: </span>"+
                        "<span style='color:#9c27b0; font-size: 15Px'> 當期玩法'去重後'新總投注數"+"<span style='color:red; font-size: 18Px'> 小於等於 </span>" +"當期玩法後台單挑值 </span> ")
                    var type_data = []
                    var key_name = Object.keys(data)
                    var len_data = data[key_name[0]].length//動態取得 data 第一個key 名稱的長度
                    var tabel_text = "<table border='1' class='dataframe'><thead><tr style='text-align: right;'>"
                    //console.log(b
                    c = []
                    for (i=0;i<len_data;i++){// 動態把 key取出後, loop增加 th 方式
                        a = [],b ={}// a存放key 名稱, b存放 有直的key,後面check_type.id=='GP' 使用
                        $.each( key_name, function( key, value ) { // jey 為索引, value 為 data的key名稱
                            if (i==0){ 
                                var newTh = "<th>"+ value +"</th>";
                                //newTh.innerHTML = value
                                tabel_text = tabel_text + newTh
                                //$('.dataframe').append(newTh)
                            }
                            data_ = (value.indexOf('輸贏')> 0 ) ?  parseFloat(data[value][i]).toFixed(2) : data_ = data[value][i]// 不需要每個欄位都做  parseFloat ,否則會有 NAN發生
                            a.push(data_)
                        });
                        type_data.push(a)// 陣列包陣列 ex: [[123],[456]]

                    }
                    console.log(b)

                    tabel_text = tabel_text + "</tr></thead><tbody><tr><th></th></tr></tbody></table>"
                    $('#user_detail').after(tabel_text)
                    console.log(type_data);
                   // type_data.push({ "title": "My column title" })
                    $('.dataframe').DataTable( {
                    data:  type_data ,
                    "iDisplayLength": 100 
                    });
                    button_RemoveDisabeld('.submit')
                    $('.sorting_1').attr('onclick',"bet_detail(this)")
                }

                var order_code = $.trim($('#order_code').val())
                console.log(check_type)
                $.ajax({
                    url:"/Single/bet",
                    type:"POST",
                    //dataType: "json",
                    headers:{
                            Accept:"application/json; charset=utf-8"
                        },
                    data: "order_code="+order_code,
                    success:function(data){
                        detail_bet =  data
                        console.log(data)  
                    }
                })
                
                $('.sorting_1').attr('class','alert')
                $('.alert').each(function(index){ 
                    $(this).attr('id','alert'+String(index))
                     }) 
                len_tr = $('tbody tr').length
            },
            error:function(e){
                button_RemoveDisabeld('.submit')  
            }
        })
        //後續再去要 去重的玩法,顯示再 小談窗
        }
        }
        function check2(){ // 單挑範圍統計
            $("#msg").remove();
            $('#user_detail').empty();//總計算 清空
            if ($('.dataframe').length>0){
                $('.dataTables_wrapper.no-footer').remove();//已經有了先清空
            }
            button_disabled('.submit')
            myajax  = $.ajax({ 
                url:"/Single_ave",
                type:"POST",
                //dataType: "json",
                headers:{
                        Accept:"application/json; charset=utf-8"
                    },
                data: form_trim("#form1"),
                success:function(data){
                    if (data == '無資料'){
                        button_RemoveDisabeld('.submit') 
                        $('#user_detail').append("<span style ='color: #9C27B0 '>"+'無資料' )
                            button_RemoveDisabeld('.submit')  
                            return false
                    }
                    console.log(data)
                    var type_data = []
                    var key_name = Object.keys(data)
                    var len_data = data[key_name[0]].length//動態取得 data 第一個key 名稱的長度
                    var tabel_text = "<table border='1' class='dataframe'><thead><tr style='text-align: right;'>"
                    for (i=0;i<len_data;i++){// 動態把 key取出後, loop增加 th 方式
                        a = [],b ={}// a存放key 名稱, b存放 有直的key,後面check_type.id=='GP' 使用
                        $.each( key_name, function( key, value ) { // jey 為索引, value 為 data的key名稱
                            if (i==0){ 
                                var newTh = "<th>"+ value +"</th>";
                                //newTh.innerHTML = value
                                tabel_text = tabel_text + newTh
                                //$('.dataframe').append(newTh)
                            }
                            data_ = (value.indexOf('輸贏')> 0 ) ?  parseFloat(data[value][i]).toFixed(2) : data_ = data[value][i]// 不需要每個欄位都做  parseFloat ,否則會有 NAN發生
                            a.push(data_)
                        });
                        type_data.push(a)// 陣列包陣列 ex: [[123],[456]]

                    }
                    tabel_text = tabel_text + "</tr></thead><tbody><tr><th></th></tr></tbody></table>"
                    $('#user_detail').after(tabel_text)
                    $('.dataframe').DataTable( {
                    data:  type_data ,
                    "iDisplayLength": 100 
                    });   

                    button_RemoveDisabeld('.submit')  
                }
            })
        }
</script>
<script>
    function bet_detail(check_type){//點選 bet_type_code 跳出 去重投注號碼
        //var element_ = '#'+check_type.id
        var bet_type_code = check_type.textContent
        var content_ = JSON.stringify(detail_bet[bet_type_code][1])
        var elementt_len = $('#msg').length// 判斷 頁面是否出現 彈窗
        var check_id = check_type.id
        if (elementt_len == 0) {// 還未出現
            alert_msg(bet_type_code+'/號碼重複次數',content_,'#day',check_id);
        }
        else{//已衝現過的,先清除, 在跳 ,情境就是 點選 其他 bet_type_code
            $('.alert').css({'background':'white'}) // 因為只會有一個被點選. 所以就統一改成 白色
            $("#msg").remove();
            alert_msg(bet_type_code+'/號碼重複次數',content_,'#day',check_id);// 有點關閉 就會去做 clear,沒做不影響
        }
    }
</script>





{% endblock %}
{% block header %}單挑查詢{% endblock %}
{% block main %}

<form id='form1' method='POST'>
    <label>環境: </label>
    <select name='env_type' id='env_type'>
        <option value="0">dev02</option>
        <option value="1">joy188</option>
        <option value="2">ph158</option>
        
    </select>
    <li id='day'>
        <label for="check_day">時間</label>
        <label>年</label>
        <select name='day_year' id='day_year'>
        </select>
        <label>月</label>
        <select name='day_month' id='day_month'>
        </select>
        <label>日</label>
        <select name='day_day' id='day_day'>
        </select>
    </li>
    <div class="center">
        <div class="switch_demo">
        <input type="checkbox" name="switch_demo" class="switch_demo-checkbox" id="switch_demo" checked>
        <label class="switch_demo-label" for="switch_demo">
        <span class="switch_demo-inner"></span>
        <span class="switch_demo-switch"></span>
        </label>
        </div>
        </div>
    <div class='normal_type'>
        <label>彩種</label>
        <select name='lottery'>
            {% for lottery in lottery_dict %}
            <option value={{lottery_dict[lottery][1]}}>{{lottery_dict[lottery][0]}}</option>
            {% endfor %}
        </select>
        <li>
        <label>請輸入單號</label>
        <input type="text" id="order_code" name="order_code"
        size="25"  maxlength="25"></li>
    </div>
        <p><input type="button" onclick="check2()" id="submit" class="submit" value="查詢">
<form>
<div id='user_detail'></div>

{% endblock %}