{% extends "base.html" %}
    {% block title %}股票查詢{% endblock %}
    {%block head %}
    {{ super() }}
    <style type="text/css">
    #stock_search,#stock_search2{border-radius: 22px;}
    #img > img{width: 500px;height: 500px;}
    #img2 > img{width: 500px;height: 500px;}
    #cur_mon{font-family: monospace;
    font-size: 20px;
    color: #b400ff}
    </style>
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  
    <!--script>
        $(document).ready(function(){
           
        document.getElementById("img").innerHTML="<img src='{{url_for('static', filename='image/1234.jpg')}}'>"

        })
    </script-->
    <script type="text/javascript">
        var stock_detail;
        function check(){
            var stock_num = $('#stock_search').val();
        
            console.log(stock_num)
            if ($('.dataframe').length>0){
                $(".dataframe").remove();//已經有了先清空
            }
            if ($('#img').html()!=''){// 不等於空 ,代表有圖,需先清除
                $('#img').html('');
            }
            if ($('#img2').html()!=''){// 不等於空 ,代表有圖,需先清除
                $('#img2').html('');}
            if ($("#stock_search").val()=="" && $('#stock_search2').val()==""){
                alert("號碼名稱皆為空");
                return false;
            }
            else{
                alert('請燒等');
                $.ajax({
                    url:"/stock_search",
                    type:"POST",
                    headers:{
                            Accept:"application/json; charset=utf-8"
                        },
                    data:form_trim("#form1"),
                    success:function(data){
                    console.log(data);
                    stock_detail = data;
                    if (data.indexOf('沒有該股票名稱')>=0){//沒有該股票
                        alert(data);
                        //location.reload()
                    }
                    else{
                    
                    //console.log(data);
                    $('#stock_detail').after(data);
                    var img_name = "<img src='{{url_for('static', filename='image/'+'test'+'.jpg')}}'>";
                    if (stock_num ==''){// 有可能頁面輸入的是名稱 , 會為空,照片名為是以股號為名稱
                        stock_num = document.querySelector("body > main > table > tbody > tr > td:nth-child(3)").textContent;
                    }
                    img =img_name.replace('test',stock_num)
                    img2 = img_name.replace('test',stock_num+'_test')
                    console.log(img2)
                    document.getElementById("img").innerHTML=img;
                    $("#img").append(img2);
            
                    //document.getElementById("img2").innerHTML=img2;
                    $('#stock_search').val('');
                    $('#stock_search2').val('');
                    }               
                    }   
                })
            }
     
        }
    </script>
    <script type="text/javascript">
        function check2(){
            var len_check = $('#form2').children(':checked').length;
            console.log(len_check)
            if ($('.dataframe').length>0){
                $(".dataframe").remove();//已經有了先清空
            }
            if ($('#img').html()!=''){// 不等於空 ,代表有圖,需先清除
                $('#img').html('');
            }
            if ($('#img2').html()!=''){// 不等於空 ,代表有圖,需先清除
                $('#img2').html('');}
            if (len_check ==0){
                alert('您未勾選');
                return false;
            }
            alert("請稍後");
            $.ajax({
                url:"/stock_search2",
                type:"POST",
                headers:{
                Accept:"application/json; charset=utf-8"},
                data:form_trim("#form2"),
                success:function(data){
                stock_detail = data;
                console.log(data);
                //$('#form2').children(':checkbox').prop('checked',$(this).is(':checked')?true:false);
                $('#stock_detail').after(data);
                }
            })
        }
    </script>
    <script type="text/javascript">
        function check3(){
            alert('尚未開放,請燒待哈')
            return false;
            $.ajax({
                url:'stock_search3',
                type:"POST",
                data:form_trim("#form3"),
                success:function(data){
                    console.log(data);
                }
            })
        }
    </script>
    <script>
        $(document).ready(function(){
        　var Today=new Date();
        　$('#cur_mon').text("營收查詢: " + Today.getFullYear()+ "/"+ 
        Today.getMonth() + " 月 ");})
    </script>
{% endblock %}
{% block main %}
    <form id='form1' method='POST'>  
        請輸入號碼<input type="text" id="stock_search" name="stock_search" maxlength="4" οnkeyup="value=value.replace(/[^\d]/g,'')" 
        size="15" />
        <p>請輸入名稱<input type="text" id="stock_search2" name="stock_search2" maxlength="4" size="15"/></p>
        <p><input type="button" onclick="check()" value="確認"></p>
    </form>
    <div id='cur_mon'></div>
    <form id='form2' methods='POST'>
        <input type ="checkbox" name="Revenue" id="STOCK_LAST_MONRATE" value="STOCK_LAST_MONRATE">
        <label for="STOCK_LAST_MONRATE">"上月營收"增加100趴以上</label>
        <input type ="checkbox" name="Revenue" id="STOCK_LAST_YEARMONRATE" value="STOCK_LAST_YEARMONRATE">
        <label for="STOCK_LAST_YEARMONRATE">"去年同月"營收增加100趴以上</label>
        <input type ="checkbox" name="Revenue" id="STOCK_YEARRATE" value="STOCK_YEARRATE">
        <label for="STOCK_YEARRATE">"整年營收"增加100趴以上</label>
        <p><input type="button" onclick="check2()" value="確認"></p>
    </form>
    <form id='form3' methods='POST'>
        <input type ="checkbox" name="GOV" id="GOV" value="GOV_SELL">
        <label for="GOV_SELL">法人連續買進</label>
        <p><input type="button" onclick="check3()" value="確認"></p>
    </form>

    <div id='stock_detail'></div>
    <div id='img'> 
        <!--img src="{{url_for('static', filename='image/1234.jpg')}}"/-->
    </div>
    <div id='img2'></div>
{% endblock %}