
{% extends "base.html" %}
{% block title %}太陽城用戶查詢{% endblock %}
{%block head %}
{{ super() }}
<style type="text/css">
#token,#id,#user,#domain{border-radius: 22px;}
p{margin-top: 1%;}
</style>
{% endblock %}  
{% block script %}
<script type="text/javascript">
    function check(){
        if ($('.dataframe').length>0){
            $("table").html("");//已經有了先清空
        }
        if($("#user").val() ==""){//判斷用戶名為空
            alert("請輸入用戶名");
            //location.reload()
        }
        else {
        $.ajax({
            url:"/sun_user",
            type:"POST",
            //dataType: "json",
            headers:{
                    Accept:"application/json; charset=utf-8"
                },
            data:$("#form1").serialize(),
            success:function(data){
                game_detail = data;
                console.log(typeof(data))
                if (data.indexOf('太陽城此環境沒有該用戶')>=0){
                    alert(data);
                    //location.reload()  
                }
                else{
                console.log(data);
                $("#user_detail").after(data)}
    
            }
        })
        }   
        }
</script>
<script>
    function check2(){
        if ($('#user').val()!=''){
            $('#user').val('');
        }
        if ($('.dataframe').length>0){
            $("table").html("");//已經有了先清空
        }
        $.ajax({
            url:"/sun_user",
            type:"POST",
            //dataType: "json",
            headers:{
                    Accept:"application/json; charset=utf-8"
                },
            data:$("#form1").serialize(),
            success:function(data){
                console.log(data);
                if (data.indexOf('目前還沒有成功轉移用戶')>=0){
                    alert(data);
                    //location.reload()  
                }
                else{
                $("#user_detail").after(data);}
            }
            })
    }
</script>

{% endblock %}
{% block main %}

<form id='form1' method='POST'>
    <label>環境: </label>
    <select name='env_type' id='env_type'>
        <option value="0">dev02</option>
        <option value="1">joy188</option>
        <option value="2">ph158</option>
    </select>
    <br>
    請輸入用戶名<input type="text" id="user" name="user"
    size="16"  maxlength="16">
    <p><input type="button" onclick="check()" value="查詢太陽城用戶"></p>
    <p><input type="button" onclick="check2()" value="查詢轉移成功用戶"></p>
</form>
<div id='user_detail'>
</div> 
{% endblock %}