<!DOCTYPE html>
<head>
    <title>有效用戶查詢</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
<style>
#user{
border-radius: 22px;
/*background: linear-gradient(-90deg, #c06bff 0%, #9e38dede 100%);*/}
.dataframe{
width: 50%;
font-size: 11pt;
border: 2px solid #b613de;}
.dataframe tr:hover{
background: silver;
cursor: pointer;}
.dataframe th:nth-child(1){
color: #7115ea;
}
body > table > thead {
    color: #efb000;
}
body > table{
    text-align: center;
    font-weight: bold;
}
body > table > thead > tr > th{
    text-align: center;
}


</style>
    <script type="text/javascript">
        var game_detail="";
        function check(){
            if ($('.dataframe').length>0){
                $("table").html("");//已經有了先清空
            }
            if($("#user").val() =="" ){//用戶名為空
                alert("請輸入用戶名");
                location.reload()
            }
            else {
            $.ajax({
                url:"/user_active",
                type:"POST",
                //dataType: "json",
                headers:{
                        Accept:"application/json; charset=utf-8"
                    },
                data:$("#form1").serialize(),
                success:function(data){
                    game_detail = data;
                    console.log(typeof(data))
                    if (data=='此環境沒有該用戶'){
                        alert(data);
                        location.reload()  
                    }
                    else{
                    console.log(data);
                    $("#user_detail").after(data)}
        
                }
            })
            }   
            }
    </script>
    <script>
            function check2(){
            if ($('.dataframe').length>0){
                $("table").html("");//已經有了先清空
            }
            if($("#user").val() =="" ){//用戶名為空
                alert("請輸入用戶名");
                location.reload()
            }
            else {
            $.ajax({
                url:"/app_bet",
                type:"POST",
                //dataType: "json",
                headers:{
                        Accept:"application/json; charset=utf-8"
                    },
                data:$("#form1").serialize(),
                success:function(data){
                    game_detail = data;
                    console.log(typeof(data))
                    if (data=='此環境沒有該用戶'){
                        alert(data);
                        location.reload()  
                    }
                    else{
                    console.log(data);
                    $("#user_detail").after(data)}
        
                }
            })
            }   
            }
        
    </script>
</head>
<body>
    <form id='form1' method='POST'>
        <label>環境: </label>
        <select name='env_type' id='env_type'>
            <option value="dev02">dev02</option>
            <option value="joy188">joy188</option>
            <option value="ph158">ph158</option>
        </select>
        <br>
        請輸入用戶名<input type="text" id="user" name="user"
            size="16">
        </br> 
        <p><input type="button" onclick="check()" value="有效用戶查詢"></p>
        <p><input type="button" onclick="check2()" value="非彩票銷量計算"></p>
    </form>
    <div id='user_detail'>
    </div> 
</body>
</html>